@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-red: #B32929;
  --brand-green: #15352C;
  --brand-green-dark: #112922;
  --brand-brown: #684B3B;
  --brand-maroon: #612C30;

  --text-primary: #000304;

  --bg-white: #FFFFFF;
}
